# ---- 构建产物 ----
*.dylib
*.ipa
*.deb
*.o
*.d
*.a
*.swp

# Theos / 编译中间目录
.theos/
build/
packages/
obj/
.built/

# ---- Xcode ----
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/

# ---- macOS / Windows ----
.DS_Store
Thumbs.db
desktop.ini

# ---- 编辑器 ----
.vscode/
.idea/
*.code-workspace

# ---- Python ----
__pycache__/
*.py[cod]
.venv/
env/
